body {
  font-family: 'Work Sans', sans-serif;
}

.navbar-light {
  background-color: #dddddd;
}

.navbar-brand {
  font-size: 30px;
}

.section-two {
  background-color: #aaaaaa;
  padding-top: 50px;
  padding-bottom: 50px;
}

.section-three {
  background-color: #7e7e7e;
  padding-top: 50px;
  padding-bottom: 50px;
}
