body {
  font-family: 'Work Sans', sans-serif;
}

.navbar-light {
  background-color: #dddddd;
}

.navbar-brand {
  font-size: 30px;
}

.category {
  min-height: 500px;
}

.category-one {
  background-color: #aaaaaa;
  /*padding-top: 50px;*/
  /*padding-bottom: 50px;*/
  /*padding-left: 20px;*/
}

.category-two {
  background-color: #7e7e7e;
  /*padding-top: 50px;*/
  /*padding-right: 20px;*/
  /*padding-bottom: 50px;*/
  /*padding-left: 20px;*/
}

.category-three {
  background-color: #4d4d4d;
  /*padding-top: 50px;*/
  /*padding-right: 20px;*/
  /*padding-bottom: 50px;*/
  /*padding-left: 20px;*/
}

.image-size {
  height: 200px;
  width: auto;
  overflow: hidden;
}

.logo {
  font-size: 30px;
  color: #dddddd;
}

.wrapper {
  padding-top: 50px;
  padding-right: 20px;
  padding-bottom: 50px;
  padding-left: 20px;
}

.be-social {
  font-size: 25px;
  color: #dddddd;
}
